# By default, ignore all files
*
# Eventually I will change this, but for now, I'll write in what I want to be shared.

# Share this file
!.gitignore

# Allow Home Assistant version info
!.HA_VERSION

# Share Markdown files & images
!*.md
!docs/images/*.png
!docs/images/*.jpg

# Explicitly allow YAML files
!*.yaml

# Any scripts that I may write
!*.sh

# Cloud9 Configuration
!.c9/project.settings

# Travis Configuration
!.travis
!.travis/travis.*
!.travis.yml

# Allow the following subfolders
!appdaemon
!automations
!custom_components/**
!docs
!images
!packages
!scenes
!scripts
!themes
!www/**

# Don't sync personal photo's and floorplans
www/accounts/*
www/lovelace/floorplan/*

# Ignore Sensitive Files
secrets.yaml
known_devices.yaml
entity_registry.yaml
ip_bans.yaml
.uuid
tts

# Logs
logs
*.log
npm-debug.log*
OZW_Log*

# Runtime data
pids
*.pid
*.seed

# AppDaemon
appdaemon/__pycache__

# Config files
phue*.conf
webostv.conf

# Cached stuff
deps
!cache
!cache/tts
!cache/zwave
cache/phue*.conf
cache/webostv.conf
cache/tts/*
cache/zwave/*
.cache
.storage

# Python cache
__pycache__
*.pyc

# Database files
*.db
*.db-shm
*.db-wal
*.db-journal
*.sqlite

# Ignore folders.
.cloud

# Cookies and tokens
*.google.token
.google.token
*.pickle
.spotify-token-cache




# Other
*.conf

home-assistant.env
home-assistant.*
entity_registry.yaml
google_calendars.yaml

*.noload
*.txt
*.xml
*.backup
.ip_authenticated.yaml
.config_entries.json

